<br>
<br>
<br>
<br>
<div class="container">
  <div class="horizontal">
    <input class="form-control mr-sm-2" style="width: 30pc;" type="text" [(ngModel)]="ProductName" (input)="Search()" placeholder="Search Products.." aria-label="Search">
    <br>
    <select class="custom-select" style="width: 30pc;"[(ngModel)]="sel"  name="category" id="category" (change)="onselect()">
      <option selected>Search With Category</option>
      <option *ngFor="let c of cat" [ngValue]="c.id" name="category">{{c.name}}</option>
    </select>
  </div>


    <!-- Search form -->

      <!-- <button mdbBtn size="sm" gradient="aqua" rounded="true" class="btn btn-success my-0 waves-light" (click)="Search()" mdbWavesEffect type="submit">Search</button> -->
    <div class="row row-cols-1 row-cols-md-4 g-4">
      <div class="col-md-4" *ngFor="let p of prod">
        <div class="card" style="margin-top: 17px;">

          <img
          [src]="createImgPath(p.productPic)" alt="profile picture" style="width:100%;"
          class="card-img-top"
          alt="..."
        />
          <div class="card-body">
            <h5 class="card-title">{{p.productName}}</h5>
            <!-- <p class="card-text">
            {{p.description}}
            </p> -->
            <h3>
              <label>{{p.price}}$</label></h3>
          </div>
          <div class="card-footer">
            <ul class="nav nav-pills card-header-tabs">
              <li class="nav-item">
                <a class="nav-link active" [routerLink]="['/Product-detail', p.id]" routerLinkActive="router-link-active" aria-current="true">Details</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/Edit-Product', p.id]">Edit</a>
              </li>
              <li class="nav-item">
                <button (click)="DeleteProd(p.id)" class="btn btn-primary" type="submit">Delete</button>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>
    <div class="row">
     <app-pagination
     (goPage)="goToPage($event)"
     (goPrev)="goToPrevious()"
     (gonext)="goToNext()"
     [page]="page"
     [perpage]="limit">
     </app-pagination>
    </div>
