<div class="container">
	<nav class="navbar navbar-expand-md navbar-light bg-primary fixed-top">
        <a class="navbar-brand" [routerLink]="['home']">4BAY</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
{{hide()}}
        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="text-align:center;">
            <ul class="navbar-nav ml-auto topnav" style="text-align: center; margin-right: 20pc;">
                <li class="nav-item active">
                    <a class="nav-link" [routerLink]="['home']">Home <span class="sr-only">(current)</span></a>
                </li>
                <!-- <li class="nav-item dropdown">
                  <select class="custom-select" style="width: 15pc;"[(ngModel)]="sel"  name="category" id="category" (change)="onselect()">
                    <option>Select Product</option>
                    <option *ngFor="let c of cat" [ngValue]="c.id" name="category">{{c.name}}</option>
                  </select> -->
                    <!-- <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Products
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown" [(ngModel)]="sel"  name="category" id="category" (change)="onselect()">
                        <a class="dropdown-item" href="/home" *ngFor="let c of cat">{{c.name}}</a>
                        <div class="dropdown-divider"></div> -->
                        <!-- <a class="dropdown-item" href="#">Omnivic</a> -->
                    <!-- </div> -->
                <!-- </li> -->
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['createProduct']">CreateProduct</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['chat']" class="nav-link btn btn-danger text-white" type="button" href="#" data-toggle="modal" data-target="#myModal">Contact Us</a>
                </li>
                <li class="nav-item" id="hide">
                    <a [routerLink]="['login']" class="nav-link btn btn-primary text-white" type="button" href="#" data-toggle="modal" data-target="#myModal">Sign In</a>
                </li>
                <li class="nav-item">
                  <a [routerLink]="['registerAdmin']" class="nav-link btn btn-primary text-white" type="button" href="#" data-toggle="modal" data-target="#myModal">Register Admin</a>
              </li>
                <li class="nav-item">
                    <a [routerLink]="['register']" class="nav-link btn btn-danger text-white" type="button" href="#" data-toggle="modal" data-target="#myModal">Register</a>
                </li>
                <li class="nav-item">
                    <a (click)="Logout()" class="nav-link">Logout</a>
                </li>
                <li class="nav-item" id="userhide" style="margin-left: 5pc;">
                    <i class="fa fa-user">  
                         Hello {{username}}
                    </i>
                </li>
            </ul>
        </div>

            <!-- The Modal -->
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Customer Sign In</h4>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <form>
                        <label class="sr-only" for="usrname">Username</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i class="fa fa-user"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                        </div>


                        <label class="sr-only" for="Password">Name</label>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon2"><i class="fa fa-key"></i></span>
                            </div>
                            <input id="Password" type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon2">
                        </div>
                    </form>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" >Sign In</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>


    </nav>
</div>
